<div class="project">
  {{#each photos}}
    <div class="photo{{#unless @first}} hide{{/unless}}">
      <img src="/photos/{{file.filename}}" alt="{{title}}" title="{{title}}" width="288" height="275">
      <div class="photoInfo">
        {{#if credit}}
          <span class="credit">Photo: {{credit}}</span>
        {{/if}}
        <a class="photoNav">more images &gt;&gt;</a>
      </div>
    </div>
  {{/each}}
  <h2 id="{{slug}}">{{title}} ({{year}})</h2>
  {{{text}}}
</div>