<div class="project">
  {{#each photos}}
    <div class="photo {{#unless @first}}hide{{/unless}}">
      <img src="{{url}}" alt="strand-02" width="288" height="275">
      <div class="photoInfo">
        {{#if credit}}
          <span class="credit">Photo: {{credit}}</span>
        {{/if}}
        <a class="photoNav">more images &gt;&gt;</a>
      </div>
    </div>
  {{/each}}
  <h2 id="{{slug}}">{{title}}</h2>
  {{{text}}}
</div>